body{
    font-family: "Roboto", sans-serif;
    background-color:#fff;
    
}

a,li{
    text-decoration: none;
    list-style-type: none;
}

.header .logo-web{
font-weight: 700;
font-size: 18px;
line-height: 1.16667;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
font-family: "Raleway", sans-serif;
}

.header > nav > a{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
    }

.header ul a {

    font-weight: 500;

line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}
.address a{


    
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.main .main-section-first{
    background-color: #2e2f42;
}

.main-section-first h1{

    font-weight: 700;
font-size: 56px;
line-height: 1.07143;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
}

.main-section-first button{
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: row;
gap: 10px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
font-weight: 500;

line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;

}
.main-section-second h3{
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.main-section-second p{
    line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.main-section-third {
    background: #f4f4fd;
}
.main-section-third h2{
    font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}
.main-section-third li{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
background: #fff;
    
}
.main-section-third h3{
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}
.main-section-third p{

    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    
}
.main-section-four li{
    border: 1px solid #e7e9fc;

background: #fff;
}
.footer{
    background-color: #2e2f42;
}
.footer .logo-web{
font-weight: 700;
font-size: 18px;
line-height: 1.16667;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
font-family: "Raleway", sans-serif;
}

.footer > a{
font-weight: 700;
font-size: 18px;
line-height: 1.16667;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #f4f4fd;
font-family: "Raleway", sans-serif;
}
.footer p{
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}